   @media (max-width: 768px) { /* Para tablets y móviles */
       .contenedor-secciones {
           grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
       }
       .producto img {
           width: 40vw; /* Ajustar el ancho de la imagen */
       }
       .comment {
           margin-left: 10px; /* Ajustar los márgenes */
           margin-right: 10px;
       }
   }
/*menu*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    text-align: center;
    text-decoration: none;
}

header {

    font-family: Arial;
    background-color: lightpink;
    padding: 20px;
    margin: 0px;
    font-size: 30px;
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*secciones*/
section {
    padding: 40px 20px;
    text-decoration: none;
}

.contenedor-secciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.seccion {
    background-color: white;
    font-family: New Times Roman;
    color: dimgray;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

.producto img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: lightpink;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
p {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.modal-contenido {
            background-color: whitesmoke;
            padding: 20px;
            border-radius: 10px;
            width: 50%;
            box-shadow: 3px 3px 10px;
            font-family: Times New Roman;
            color: hotpink;
        }

        .cerrar {
            float: right;
            font-size: 24px;
            cursor: pointer;
        }
        .banner {
            background-color: #ffccdd;
             padding: 15px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin: 20px auto;
            width: 80%;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
        h2 {
            color: dimgrey;
            margin-top: 1px;

        }
        p {
            color: dimgrey;
        }       
        .comment-btn, .top-btn {
            background-color: hotpink;
            color: white;
            padding: 12px 25px;
            border: none;
            border-radius: 8px;
            font-size: 1em;
            cursor: pointer;
            transition: background 0.3s ease;
            margin-top: 30px;
        }
        .comment-btn:hover, .top-btn {
          background-color: hotpink;
        }
        .comments-section {
            margin-top: 50px;
        }

    textarea {
      width: 60%;
      height: 100px;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      resize: none;
      font-family: inherit;
      font-size: 17px;
    }

    .comments-list {
      margin-top: 20px;
      color: black;
    }

    .comment {
      background: bisque;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 10px;
      margin-left: 250px;
      margin-right: 250px;
    }

    body.comment {
      background: #444;
    }
    .top-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
    }

    h3 {
        color: dimgrey;
        font-size: 25px;
    }

    .social-icons a {
            color: dimgrey;
            font-size: 15px;
            margin: 0 10px;
            text-decoration: none;
            transition: transform 0.3s ease;
        }

        .social-icons a:hover {
            transform: scale(1.2);
        }

        .commentsContainer {
            font-size: 1.2em;
            cursor: pointer;
            color: dimgrey;
            width: 15px;
            height: 15px;
        }

        .borrar {
            margin-left: 250px;
            margin-top: -50px;
            background-color: transparent;
            border: none;
            font-size: 1.2em;
            cursor: pointer;
        }




